<h1> This is the aboutpage. </h1>
<h2> This is h2 header. </h2>
<h3> And this is a h3 header. </h3>

<li>
    <ul> Unordered List. </ul>
    <ul> ABOUT </ul>
    <ul> ABOUT </ul>
    <ul> ABOUT </ul>
    <ul> ABOUT </ul>
    <ul> ABOUT </ul>
    <ul> ABOUT </ul>
    <ul> ABOUT </ul>
</li>

<p> This is a paragraph. im just going wrute something here.</p>

<%= link_to 'HOMEPAGE', root_path %>