<h1> This is the homepage. </h1>
<h2> This is h2 header. </h2>
<h3> And this is a h3 header. </h3>

<li>
    <ul> Unordered List. </ul>
    <ul> This is also a unordered list. </ul>
    <ul> HOME </ul>
    <ul> HOME </ul>
    <ul> HOME </ul>
    <ul> HOME </ul>
    <ul> HOME </ul>
    <ul> HOME </ul>
</li>

<p> This is a paragraph. im just going wrute something here.</p>

<%= link_to 'ABOUTPAGE', aboutpage_path %>

<p><%= image_tag 'abc.jpg' %></p>